<div class="row">
  <div class="col-xl-2 col-lg-12 col-md-4 col-sm-12 col-12" th:each="movie: ${movies}" th:classappend="${isFive} ? five-class : four-class">
    <div class="video-thumb light">
      <figure class="video-image" style="border-radius: 8px;">
      <div class="circle-rate">
      	<div class="bwa-content">
            <div class="loader"></div>
            <a th:href="${'/other/movie?movieId='+movie.movieLink + '&status=' + isFive}" 
            data-toggle="tooltip" data-placement="top" th:attr="title=${movie.title}" 
            class="bwac-btn" title="Click to play">
              <i class="fa fa-play"></i>
            </a>
        </div>	
      </div>
      
      <div class="card featured-movie" style="text-align: center; ">
          <img th:src="${movie.poster_path != null ? ('data:image/jpeg;base64,' + movie.poster_path) :  'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg'}"  alt="Image" 
          th:style="${movie.poster_path != null ? 'height: 300px' : 'height: 333px'}">
          <div class="bottom-bar">
            <div class="title-container">
              <b th:text="${movie.title}" th:if="${movie.title != null && movie.title != ''}"></b>
            </div>
          </div> 
        </div>
      
        <div class="circle-rate">
          <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
            <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" th:attr="stroke-dasharray=${(movie.vote_average * 10) + ',100'}" cx="15" cy="15" r="14"></circle>
          </svg>
          <b th:text="${movie.vote_average}">5.7</b> </div>
         <div class="hd">T <b th:text="${movie.timming}"></b></div>
      </figure>
    </div>
  </div>
</div>

<style>
.five-class {
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}

.four-class {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.five-class-a {
	top: -129px;
	left: -179%;
}

.four-class-a {
	top: -125px;
	left: -251%;
}

@media only screen and (max-width: 600px) {
	.five-class {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.four-class {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.four-class-a {
		top: -160px;
		left: -334%;
	}
	.five-class-a {
		top: -145px;
		left: -334%;
	}
	img {
		height: 333px !important;
	}
}
</style>
<style>
.featured-movie {
	position: relative;
}

.featured-movie .cover {
	width: 100%;
	display: block;
}

.featured-movie .bottom-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 7px 10px;
	background: rgba(10, 10, 10, .8);
	color: #FFF;
	overflow: hidden;
}


.featured-movie .bottom-bar .title-container b {
	font-weight: 600;
}

.col-xl-2 {
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}

@media only screen and (max-width: 600px) {
	.col-xl-2 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	img {
		height: 333px !important;
	}
	.play-btn a {
		width: 46px;
		line-height: 46px;
		display: table-caption;
		background: #fff;
		border-radius: 50%;
		text-align: center;
		position: relative;
		text-indent: -9999px;
		top: -148px;
		left: -426%;
	}
}

@media only screen and (max-width: 600px) {
	.play-btn a {
		left: -313%;
	}
	.btn {
		padding: 9px 14px;
		position: relative;
		display: inline-block;
		-webkit-border-radius: 0p;
		-moz-border-radius: 0;
		border-radius: 0 !important;
		cursor: pointer;
		z-index: 4;
	}
}
</style>
<style>
 .bwa-content {
    text-align: center;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
}
.loader {
    width: 110px;
    height: 110px;
    line-height: 110px;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
    position: absolute;
    top: 62%;
    margin-top: -186px;
    left: 24%;
    margin-left: -154px;
}
.loader:before, .loader:after {
    opacity: 0;
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.loader:before {
    z-index: 2;
    -webkit-animation: gogoloader 2s infinite;
    -moz-animation: gogoloader 2s infinite;
    -o-animation: gogoloader 2s infinite;
    animation: gogoloader 2s infinite;
}
.loader:after {
    z-index: 1;
    -webkit-animation: gogoloader 2s infinite 1s;
    -moz-animation: gogoloader 2s infinite 1s;
    -o-animation: gogoloader 2s infinite 1s;
    animation: gogoloader 2s infinite 1s;
}

.bwa-content .bwac-btn {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    background: #F48625;
    position: absolute;
    top: 63%;
    margin-top: -158px;
    left: 50%;
    margin-left: -124px;
    border: 5px solid #fff;
    display: inline-block;
    box-shadow: 0 0 40px 5px #f8aa0c;
}

 .bwa-content .bwac-btn:before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%) inset;
}

 .bwa-content .bwac-btn i {
    font-size: 22px;
    position: absolute;
    top: 9px;
    left: 15px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-play:before {
    content: "\f04b";
}

 .bwa-content .bwac-btn:after {
    content: "";
    position: absolute;
    bottom: -40px;
    width: 120px;
    text-align: center;
    left: 50%;
    margin-left: -60px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

@-webkit-keyframes gogoloader{ 0%{ -webkit-transform: scale(0); opacity: 0; }
	50%{ opacity: 1; }
	100%{ -webkit-transform: scale(1); opacity: 0; }
}
@-moz-keyframes gogoloader{ 0%{ -moz-transform: scale(0); opacity: 0; }
	50%{ opacity: 1; }
	100%{ -moz-transform: scale(1); opacity: 0; }
}
@-o-keyframes gogoloader{
	0%{ -o-transform: scale(0); opacity: 0; }
	50%{ opacity: 1; }
	100%{ -o-transform: scale(1); opacity: 0; }
}
@keyframes gogoloader{
	0%{ transform: scale(0); opacity: 0; }
	50%{ opacity: 1; }
	100%{ transform: scale(1); opacity: 0; }
}

</style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>

<script type="text/javascript" th:inline="javascript">
//<![CDATA[
 window.onload = function () {
	    document.addEventListener("contextmenu", function (e) {
	        e.preventDefault();
	    }, false);
	    document.addEventListener("keydown", function (e) {
	        if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
	            disabledEvent(e);
	        }
	        if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
	            disabledEvent(e);
	        }
	        if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
	            disabledEvent(e);
	        }
	        if (e.ctrlKey && e.keyCode == 85) {
	            disabledEvent(e);
	        }
	        if (event.keyCode == 123) {
	            disabledEvent(e);
	        }
	    }, false);
	    function disabledEvent(e) {
	        if (e.stopPropagation) {
	            e.stopPropagation();
	        } else if (window.event) {
	            window.event.cancelBubble = true;
	        }
	        e.preventDefault();
	        return false;
	    }
	}
    function scrolltop() {
    window.scrollTo(0, 0);
    }
        
 // ]]>
	</script>



